
<mat-drawer-container class="example-container" autosize>
  <mat-toolbar color="primary" class="header">
    <div class="example-sidenav-content">
      <button mat-icon-button class="ms-2" (click)="openMenu(!statusMenu) ; drawer.toggle()">
        <mat-icon>{{ iconMenu }}</mat-icon>
      </button>
    </div>
    <a href="" class="no-link-style a0">SamoviShop</a>

    <span class="spacer"></span>
    <!-- <button mat-icon-button class="m-2">
      <a class="no-link-style a1" href="favorite"><mat-icon>favorite</mat-icon></a>
    </button> -->
    <button mat-icon-button class="m-2">
      <a class="no-link-style a2" routerLink="/cart">
        <mat-icon>shopping_cart</mat-icon>
      </a>
    </button>
  </mat-toolbar>
</mat-drawer-container>

<mat-drawer #drawer mode="push">
  <button mat-icon-button class="m-3" (click)="openMenu(!statusMenu); drawer.toggle()">
    <mat-icon>{{ iconMenu }}</mat-icon>
  </button>
  <span class="tittle2">SamoviShop</span>
  <div *ngIf="statusMenu" class="container p-3">
    <section>
      <div class="d-grid gap-4">
        <a mat-button color="primary" routerLink="" >Home</a>
        <a mat-button color="primary" routerLink="products" >Productos</a>
        <a mat-button color="primary" routerLink="account" >Cuenta</a>
        <a mat-button color="primary" routerLink="contact" >Contacto</a>
        <a mat-button color="primary" routerLink="support" >Soporte</a>
      </div>
    </section>
  </div>
</mat-drawer>
