.spacer {
  flex: 1 1 auto;
}

mat-drawer {
  width: 30%;
}

.no-link-style{
  text-decoration: none;
  font-size: 27px;
  color: white;
  display: flex;
  align-items: center;
  margin-left: 1.2rem;
  &.a1{
    :hover{
      color: #dd3c36;
    }
  }
  &.a2{
    :hover{
      color: #238823;
    }
  }
}


.tittle2 {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: bold;
  margin: 2rem;
}