<div class="container">
  <h2 class="text-center m-3 fs-2">Carrito de Compras</h2>
  <div class="text-center m-5" *ngIf="cartProducts.length == 0 else Products">
    <p>No posee productos en el carrito. Dirigirse al <a routerLink="/products">listado de productos.</a></p>
  </div>
  <ng-template #Products>
    <ul class="list-group list-group-flush">
      <li class="list-group-item" *ngFor="let product of cartProducts">
        <h3>{{product.title}}</h3>
        <div> 
          <div class="row align-items-center m-3">
            <div class="col-4 col-sm-4 d-flex justify-content-center flex-column align-items-center">
              <img src="{{product.image}}" class="card-img-top image">
            </div>
            <div class="col-4 col-sm-6 d-flex justify-content-center flex-column align-items-center">
              <p class="card-text">{{product.description}}</p>
              <p class="card-text mt-3"><strong>Precio unitario: $ {{product.price}}</strong></p>
            </div>
            <div class="col-4 col-sm-2 d-flex justify-content-center flex-column align-items-center">
              <button mat-fab color="warn" (click)="deleteCartProduct(product)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
        </div> 
      </li>
    </ul>
    <mat-divider></mat-divider>
    <div class="m-5 d-flex justify-content-center  align-items-center">
      <h3 class="m-5" ><strong>Total:</strong> $ {{totalPrice}}</h3>
      <button mat-raised-button color="primary" (click)="buyProducts()">Comprar</button>
    </div>
  </ng-template>
</div>
