.page-footer{
  background-color: #673ab7;
  color: white;
  margin-top: auto;
  font-size: 1.1rem;
  .cont2{
    display: flex;
    align-items: center;
    justify-content: center;
    div{
      margin-left: 10px;
      margin-right: 10px;
    }
  }
  a {
    text-decoration: none;
    color: white;
  }

  .cr{
    background-color: #7332e4 ;
  }
}

.redirect{
  font-size: small;
  &-tittle{
    text-decoration: underline;
    font-size: large;
  }
}