<div class="page-footer font-small blue pt-3">
  <div class="container-fluid text-center text-md-left">
    <div class="row mt-3">
      <div class="col-md-6 mt-md-0 mt-3 cont2">
        <div class="col-md-4 mb-md-0 d-grid mb-3">
          <i class="bi bi-instagram"></i>
          <a class="m-2 redirect" href="https://www.instagram.com/" target="_blank">Instagram</a>
        </div>
        <div class="col-md-4 mb-md-0 mb-3 d-grid">
          <i class="bi bi-facebook"></i>
          <a class="m-2 redirect" href="https://www.facebook.com/" target="_blank">Facebook</a>
        </div>
        <div class="col-md-4 mb-md-0 mb-3 d-grid">
          <i class="bi bi-twitter"></i>
          <a class="m-2 redirect" href="https://twitter.com/" target="_blank">Twitter</a>
        </div>
      </div>

      <div class="col-md-2 mb-md-0 mb-3">
        <p class="redirect-tittle fw-light">Hablanos</p>
        <ul class="list-unstyled redirect">
          <li class="mb-2">
            <a href="contact">Contacto</a>
          </li>
          <li class="mb-2">
            <a href="support">Soporte</a>
          </li>
        </ul>
      </div>
      <div class="col-md-2 mb-md-0 mb-3">
        <p class="redirect-tittle fw-light">Comprar</p>
        <ul class="list-unstyled redirect">
          <li class="mb-2">
            <a href="">Home</a>
          </li>
          <li class="mb-2">
            <a href="products">Productos</a>
          </li>
        </ul>
      </div>
      <div class="col-md-2 mb-md-0 mb-3">
        <p class="redirect-tittle fw-light">Tu area</p>
        <ul class="list-unstyled redirect">
          <li class="mb-2">
            <a href="favorites">Favoritos</a>
          </li>
          <li class="mb-2">
            <a href="cart">Carrito</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="text-center p-2 cr redirect">
    © 2021 Copyright: Samovi Shop
  </div>
</div>
